*{
    box-sizing: border-box;
    font-family: Helvetica;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background:#f5f7fa;
}
#tooltip{
    position: absolute;
    opacity: 0;
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
    font-weight:700;
}